{% extends "base.html" %}
{% load filter %}
{% block content %}
    <main class="container">
        <div class="form-row">
            <div class="form-group col-md-9">
                <label>Produto</label>
                <input type="text" readonly class="form-control" value="{{object}}">
            </div>
            <div class="form-group col-md-3">
                <label>Unidade</label>
                {% if object.product_type %}
                    <input type="text"  readonly class="form-control" value="{{object.product_type|convert_type}}">
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Valor Unitário</label>
                <input type="text" class="form-control"value="{{object.price}}"readonly>
            </div>
            <div class="form-group col-md-3">
                <label>Quantidade</label>
                <input type="text" class="form-control" value="{{object.stock_current}}" pattern="\d+,?\d{0,2}" readonly>
            </div>
            <div class="form-group col-md-3">
                <label>Volume</label>
                <input type="text" class="form-control" value="{{object.produtc_vol|convert_vol}}" readonly>
            </div>
        </div>
        <a href="{% url 'core:index' %}" class="btn btn-primary">Voltar</a>
    </main>
{% endblock content %}