{% extends "base.html" %}

{% block content %}
<div>
    <main class="container">
        <table class="table">
            <thead class="body-title">
                <tr>
                    <th>Produto</th>
                    <th>Unidade</th>
                    <th>Total de embalagens</th>
                    <th>Valor Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in object_list %}
                    <tr class="body-line" style="border-left-color:gray">
                        <td>{{ row }}</td>
                        <td>{{ row.product_type }}</td>
                        <td>{{ row.stock_current }}</td>
                        <td>{{ row.price }}</td>
                        <td><a href="{% url 'core:detail_product' row.pk %}"><button type="button"></button> 
                        </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
    </main>
</div>
{% endblock content %}