{% extends "base.html" %}

{% block content %}
    <form action="{% url 'core:sale_product' %}" method="POST">
        {% csrf_token %}
        <main class="container">
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label>Vendedor</label>
                    <input type="text" class="form-control" name="product" required>
                </div>
                <div class="form-group col-md-9">
                    <label>Produto</label>
                    <input type="text" class="form-control" name="product" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Valor</label>
                    <input type="number" class="form-control" name="price" pattern="\d+,?\d{0,2}" placeholder="Ex: 1598,99" step=".01"required>
                </div>
                <div class="form-group col-md-3">
                    <label>Quantidade</label>
                    <input type="number" class="form-control" name="stock_mini" pattern="\d+,?\d{0,2}">
                </div>
            </div>
            <a href="{% url 'core:index' %}" class="btn btn-primary">Voltar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </main>
    </form>
{% endblock content %}