# Arquivos de configura??o do sistema
*.pyc
.DS_Store


# Arquivos de m?dia e arquivos est?ticos gerados
/media/
/static/

# Arquivo de banco de dados local do SQLite
db.sqlite3
.sqlite3

# virtualenv
/venv/
.env

__pycache__

.mypy_cache/